{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-plusplus": 0,
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": 2,
    "no-shadow": [
      1,
      {
        "hoist": "never"
      }
    ],
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "semi": true
      }
    ]
  }
}