body {
  // --body-bg: red;
  // background: var(--body-bg);
  --gutter: var(--size-4);
  --brand: hsl(217deg 82% 15%);
  --brand-hover: hsl(217deg 82% 45%);

  .padding-block {
    padding-block: var(--size-7);
  }

  .flex {
    display: flex;
  }

  h1 {
    color: var(--gray-9)
  }

  h3 {
    color: var(--gray-9)
  }

  .header-sticky {
    position: sticky !important;
    top: 0 !important;
    background-color: var(--gray-0);
  }
}

.header {


  @media screen and (min-width:1024px) {
    &__upper {
      display: block !important;
      background-color: var(--gray-1);
      padding-block: var(--size-2);
      font-size: var(--font-size-0);

      label {
        margin-right: var(--size-2);
      }

      select {
        background: var(--gray-0);
        border-radius: 0;
        border-color: var(--gray-3);
        border-width: 1px;
      }
    }

    &__lower {
      display: block !important;
      background-color: var(--brand);
      padding-block: var(--size-2);

      a {
        color: var(--gray-0);

        &:hover {
          color: var(--brand-hover);
        }
      }

      ul {
        list-style-type: none;
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        width: max-content;
        gap: var(--gutter);
        padding: 0;
        margin: 0;
      }
    }
  }

  &__upper {
    display: none;
  }

  &__middle {
    padding-block: var(--gutter);

    .mobile-menu {
      display: none;
    }

    @media screen and (min-width:1024px) {
      .modal-menu {
        display: none;
      }

      .modal {
        display: none;
      }
    }

    .display-none {
      display: none !important;
    }

    @media screen and (max-width:1023px) {
      .logo {
        grid-area: 1/1/2/2;
      }

      .modal {
        width: 100%;
        height: 100%;
        background-color: var(--gray-0);
        text-align: center;
        display: block;
      }

      .modal-elements {
        display: flex;
        flex-direction: row;
        text-align: center;
        color: var(--gray-0);
        font-size: var(--size-4);
      }

      .content {
        grid-template-columns: 1fr 1fr !important;
      }

      nav {
        grid-area: 1/2/2/3;
        display: flex !important;
        margin-left: auto;

        .pc-only {
          display: none;
        }
      }

      .search {
        grid-area: 2/1/3/3;

        input {
          width: 100%;
        }
      }

      .mobile-menu {
        display: block;
      }
    }

    .content {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      gap: var(--gutter);
    }

    nav {
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      gap: var(--gutter);
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      input {
        background-color: var(--gray-1);
      }
    }
  }


  &__lower {
    display: none;
  }
}